.sidebar {
    flex: 1.5;
    height: calc(100vh );
    
    overflow-y: scroll;
    position: sticky;
    top: 1px;
  }
  
  ::-webkit-scrollbar {
    width: 5px;
  }
  ::-webkit-scrollbar-track {
    background-color: rgba(233, 137, 41, 0.747);
  }
  ::-webkit-scrollbar-thumb {
    background-color:   rgba(233, 137, 41, 0.747) ;
  }
  
  .sidebarWrapper {
    padding: 20px;
  }
  
  .sidebarList {
    padding: 10px;
    margin: 20px;
    list-style: none;
  }
  
  .sidebarListItem {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
  }